<table border="0" width="100%" cellspacing="0" cellpadding="0" background="<%= theme_image_path 'logo_top.png' %>">
  <tr height="62">
    <td width="20">&nbsp;</td>
    <td align="center" valign="top" width="55">
      <%= theme_image_tag 'small_dragon.png', :border => 0, :width => 55, :height => 40 %>
    </td>
    <td align="center">
    <h1 style="line-height: 90%; margin-top: 0"><%= 'National Digital Library of Bhutan'.ts %></h1>
    </td>
    <td align="center" valign="top" width="55">
      <%= theme_image_tag 'small_dragon_inverted.png', :border => 0, :width => 55, :height => 40 %>
    </td>
    <td valign="top" align="right">
      <small><div id="div_login">
<%=     render :partial => 'sessions/show' %>
      </div></small>
    </td>
  </tr>
</table>
<div class="header-links">
  <table border="0" width="100%" cellspacing="0" cellpadding="0" background="<%= theme_image_path 'logo_middle.png' %>">
    <tr height="40">
      <td width="2%">&nbsp;</td>
      <td width="20%"><%= link_to 'Home'.ts, root_path %></td>
      <td width="20%"><%= link_to 'Dictionaries'.ts, new_dictionary_search_path %></td>
      <td width="20%"><%= link_to 'Media'.ts, media_path %></td>
      <td width="20%"><div id="div_admin-links"><%= render :partial => 'main/admin_links' %></div></td>
      <td width="16%" align="right">
<%=     render :partial => 'main/language_options' %>       
      </td>
      <td width="2%">&nbsp;</td>
    </tr>
  </table>
</div>